.counter {
  margin-left: 10%;
  padding: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 2px solid;
  background: antiquewhite;

  button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;

    &:active{
      background: lightpink;
    }
  }
}